<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
         bootstrap="./test/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./test/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./test/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory>./src/Domain/DataTransferObject/*</directory>
            </exclude>
        </whitelist>

    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-html" target="build/logs/html" />
        <log type="coverage-text" target="php://stdout" />
    </logging>
</phpunit>
